body {
    background-image: url("67.jpg");
    color: rgb(242, 240, 245);
}

h1{text-align: center; font-size:30px; font-family: Arial;}

input {
    border-radius: 8px;
    border-width: 2px;
    border: none;
}
input[type="text"] {
    background-color: rgba(0, 125, 215, 0);
    color: rgb(242, 240, 245);  
    margin: 1px 1px 1px 1px;
    font-size: 25px;
    font-weight:bold;
    text-align: center;
    outline: none;
}

#sign {
    width: 46px;
}

#num {
    width: 248px;
    border: solid;
    text-align: center;
    margin: auto;
}

#equal {
    width: 46px;
}

input[type="button"] {
    text-align: center;
    background-color: #d1d2d4; 
    color: rgb(40, 22, 87);
    margin: 1px 1px 1px 1px;
    border: solid;
    height: 60px;  
    width: 60px;
    font-size: 25px;
    font-weight:bold;
}
input[value="="] {
    font-size: 30px;
    width: 256px;
}